@import "./styles/base/normalize";
@import "./styles/base/typography";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

img {
  width: auto;
  height: 100%;
}
