// @import "./styles/base/normalize";
@import "./styles/base/typography";
@import "98.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: teal;
  margin: 0;
  // font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-family: "Pixelated MS Sans Serif", Arial;
  min-height: 100vh;
}

button {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

img {
  width: auto;
  height: 100%;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
