.content-wrapper {
  max-width: 1000px;
  margin: 0 auto 25px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-page__logo {
  display: flex;
  justify-content: center;
  padding: 130px 0 40px;
}

.main-page__logo img {
  max-width: 551px;
  width: 70vw;
}

.main-page__content {
  padding-left: 26px;
  padding-bottom: 232px;

  label {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
}

.new-session {
  padding-top: 90px;
}

.connect-game {
  padding-top: 35px;

  h2 {
    padding-left: 190px;
    margin-bottom: 50px;
  }

  span {
    color: #66999b;
    font-weight: bold;
  }

  input {
    margin-top: 10px;
    width: 276px;
    height: 47px;
    background: #ffffff;
    border: 1px solid #2b3a67;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 10px;
  }

  button {
    margin-left: 0;
    height: 47px;
    border: 1px solid #496a81;
    box-sizing: border-box;
    border-radius: 0px 3px 3px 0px;
  }
}

.connect-game__input {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 770px) {
  .new-session {
    .button-start {
      width: 50%;
      margin-left: 40px;
    }
  }
}
