@import "../../../styles/utils/variables";
@import "../../../styles/utils/mixins";

.issue__form {
  padding: 10px 30px;

  &-label {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    @include calcLineHeight(24px);
  }

  &-input {
    width: 70%;
    margin-left: auto;
    border: 1px solid #2b3a67;
    box-shadow: inset $mainShadow;
  }
}
