@import "../../styles/utils/variables";
@import "../../styles/base/colorPalete";

.input-text {
  margin-bottom: 15px;
  position: relative;

  &__error {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
    position: absolute;
    right: 0;
  }

  &__label {
    display: flex;
  }

  &__input {
    background: $colorWhite;
    border: 1px solid $colorDarkBlue;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 10px;
    margin-left: auto;

    &:focus {
      outline: none;
      box-shadow: inset $mainShadow;
    }
  }
}
