.lobby-page-wrapper {
    padding: 0px 35px 100px;

}

.master-card__title {
    text-align: left;
}

.master-card, 
.members__block,
.issues__block {
    margin-bottom: 65px;
}

.settings__block {
    margin-bottom: 40px;
}