.button-start {
  margin-left: auto;
  padding: 2px 11px 0 13px;
  // background: #2b3a67;
  border: 1px solid #496a81;
  box-sizing: border-box;
  border-radius: 3px;
  // color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  height: 40px;
  // line-height: 30px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // transition: all 0.3s ease-out;

  // &:focus,
  // &:hover {
  //   background: #66999b;
  //   border: 1px solid #66999b;
  //   transform: translateY(-5px) scale(1.005) translateZ(0);
  //   box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
  //     0 24px 46px var(--box-shadow-color);
  // }

  // &:active {
  //   background: #66999b;
  //   border: 1px solid #66999b;
  // }
}

.button-cancel {
  padding: 5px 25px;
  background: #fff;
  border: 1px solid #496a81;
  box-sizing: border-box;
  border-radius: 3px;
  color: #2b3a67;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-out;

  &:focus,
  &:hover {
    background: #66999b;
    color: #fff;
    border: 1px solid #66999b;
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 24px 46px var(--box-shadow-color);
  }

  &:active {
    background: #66999b;
    border: 1px solid #66999b;
    color: #fff;
  }
}
