@import "../../styles/base/colorPalete";
@import "../../styles/utils/variables";

.chat {
  background-color: $colorWhite;

  &__row {
    display: flex;
    color: $colorBlack;
    margin-bottom: 10px;
  }

  &__user-message {
    flex: 0 1 50%;
    text-align: left;
    padding: 10px 5px;
    box-shadow: $mainShadow;
    border-radius: 4px;
    word-break: break-word;
  }

  &__label {
    font-size: 0;
  }

  &__input {
    width: 100%;
    border-width: 0;
    box-shadow: $mainShadow;
    padding: 10px;
    font-size: 1rem;
  }
}
