.App-footer {
  height: auto;
  width: 100%;
  background: #2b3a67;

  &__wrapper {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    margin: 0 auto;
  }

  &__collaborators {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-link {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
    }
  }

  &__copyright {
    color: #fff;
  }

  &__rs-logo__img {
    width: 70px;
    height: auto;
  }
}
