@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.user {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  box-shadow: $mainShadow;
  border-radius: 4px;
  color: #000;
  display: flex;
  align-items: center;

  &--chat {
    flex: 0 1 50%;
    align-self: flex-start;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    width: 100%;
    height: 100%;

    &--chat {
      padding: 5px;
      gap: 5px;
    }
  }

  &__avatar {
    overflow: hidden;
    box-shadow: inset $mainShadow;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;

    &--chat {
      height: 52px;
      width: 52px;
    }

    &--span {
      color: #ffffff;
      text-shadow: $mainShadow;
    }
  }

  &__name {
    text-transform: capitalize;
  }

  &__body {
    // text-align: left;
    // white-space: nowrap;
  }

  &__button {
    margin-left: auto;

    &-body {
      opacity: 0.7;
      display: flex;
      align-items: center;
      min-width: 20px;
      padding: 2px;
    }

    &-img {
      height: 30px;
      width: 30px;

      &--chat {
        height: 20px;
        width: 20px;
      }
    }
  }

  @for $i from 0 to $countUsers {
    &:nth-child(#{$i}) .user__avatar {
      @include randomBgr();
    }
  }
}
