@import "../../../../styles/utils/variables";

.register-form {
  font-size: 24px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;

  &__label {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    &--file {
      // background: #ffffff;
      // border: 1px solid #eeeeee;
      // box-sizing: border-box;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25%);
      // border-radius: 0px 0px 0px 10px;
      // font-weight: 300;
      // font-size: 24px;
      // line-height: 28px;
      // padding: 10px 10px 10px 50px;
      // margin-top: 10px;
      background: #2b3a67;
      border: 1px solid #496a81;
      box-sizing: border-box;
      border-radius: 0px 3px 3px 0px;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25%);
      text-align: center;
      padding: 10px;
      width: 50%;
      margin-top: 5px;

      // &::after {
      //   content: "Upload";
      //   position: absolute;
      //   right: 0;
      //   width: 30%;
      //   padding: 9px 0;
      //   margin-top: -10px;
      //   background: #2b3a67;
      //   border: 1px solid #496a81;
      //   box-sizing: border-box;
      //   border-radius: 0px 3px 3px 0px;
      //   font-weight: bold;
      //   font-size: 24px;
      //   line-height: 30px;
      //   color: #ffffff;
      //   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25%);
      //   text-align: center;
      // }
    }
    &--mb {
      margin-bottom: 15px;
    }
  }

  &__input {
    margin-left: 0;
    margin-top: 10px;
  }

  &__avatar {
    overflow: hidden;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25%);
    border-radius: 50%;
    width: 83px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #60dabf;
  }

  &__left-wrapper {
    width: 60%;
    position: relative;
    padding-bottom: 50px;
    input {
      margin: 10px 0 0 0;
    }
  }

  &__right-wrapper {
    p {
      max-width: 140px;
    }
  }
}

.modal-buttons {
  flex: 100%;

  button {
    margin-left: 0;
  }
}
